<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <div class="mt-4 mb-4 p-5 bg-info text-white rounded">
        <h1>Himanshu</h1>

        <h6>
        "As a web developer, I specialize in creating captivating online
        experiences that combine creativity,
        functionality, and a user-centric approach. I believe in crafting websites that leave a lasting
        impression on visitors by seamlessly blending unique designs with engaging content tailored specifically
        for web audiences. I take pride in placing equal
        importance on performance optimization, visually striking aesthetics, and delivering an exceptional user
        experience. By integrating interactive elements and optimizing for social media engagement, I aim to
        create web solutions that not only stand out but also drive meaningful connections with users. With
        every project, my goal is to deliver an innovative web presence that not only meets client objectives
        but also surpasses expectations in terms of creativity, user interaction, and overall impact."
        </h6>

    </div>
    <h1>Welcome to {{title}}</h1>

</body>

</html>